<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>MercadoLiebre</title>
        <link href='/css/normalize.css' rel='stylesheet'>
        <link href='/css/styles.css' rel='stylesheet'>
        <link href='/css/login.css' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/167d28da05.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header id='navbar'>
            <div id='top-header'>
                <div id='logo-y-busqueda'>
                    <figure><img src="\images\logo-mercado-liebre.svg"></figure>
                    <div><input placeholder="Buscar productos, marcas..."><button><i class="fas fa-search"></i></button></div>
                </div>
                <div id="texto-centrado-header"><p><i class="fas fa-hand-holding-usd"></i>  Compra en cuotas y sin tarjeta de credito</p></div>
            </div>
            <nav>
                <nav><ul>
                    <li><a href='#'>Ofertas</a></li>
                    <li><a href='#'>Tiendas Oficiales</a></li>
                    <li><a href='#'>Vender</a></li>
                    <li><a href='#'>Ayuda</a></li>
                </ul></nav>
                <nav><ul>
                    <li><a href="registro">Crea tu cuenta  <i class="far fa-id-card"></i></a></li>
                    <li><a href="login">Ingresa  <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href='#'>Mis Compras  <i class="fas fa-shopping-basket"></i></a></li>
                </ul></nav>
            </nav>
            <div id='burger-menu'​​>
                <i class='fa fa-bars burger'></i>
            </div>
        </header>
        <main class='formulario-inline'>
            <form action="/login" method="POST">
                <div id='form-text'><input type="text" name="username" id="username" placeholder="Nombre de usuari@"></div>
                <div id='form-password'><input type="password" name="pass" id="pass" placeholder="Contraseña"></div>
                <div><button id='form-button-entrar' type="submit">Entrar</button></div>
            </form>
        </main>
        <footer class="footer-article">
            <section>
                <article class='footer-article'>
                    <figure><i class="fas fa-credit-card"></i></figure>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash,tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article class='footer-article'>
                    <figure><i class="fas fa-gift"></i></figure>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article class='footer-article'>
                    <figure><i class="fas fa-user-shield"></i></figure>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre,no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </article>
            </section>
            <small id='Copyright'>Copyright © 1999-2020 MercadoLiebre S.R.L.</small>
        </footer> 
    </body>
</html>